# dependencies
react-chrome-app/node_modules

# misc
react-chrome-app/.env.local
react-chrome-app/.env.development.local
react-chrome-app/.env.test.local
react-chrome-app/.env.production.local

# Apple
.DS_Store
react-chrome-app/.DS_Store

react-chrome-app/npm-debug.log*
react-chrome-app/yarn-debug.log*
react-chrome-app/yarn-error.log*
